<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boyBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2566,1284},{1280,1920}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,1920}}</string>
                <key>sourceSize</key>
                <string>{1280,1920}</string>
            </dict>
            <key>gameOverBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1284},{1280,1920}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,1920}}</string>
                <key>sourceSize</key>
                <string>{1280,1920}</string>
            </dict>
            <key>girlBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{1280,1920}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,1920}}</string>
                <key>sourceSize</key>
                <string>{1280,1920}</string>
            </dict>
            <key>introBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1924},{1280,1920}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,1920}}</string>
                <key>sourceSize</key>
                <string>{1280,1920}</string>
            </dict>
            <key>playBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,1920}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,1920}}</string>
                <key>sourceSize</key>
                <string>{1280,1920}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Backgrounds-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60c273e6f4f6307418eb8c833add5f12$</string>
            <key>textureFileName</key>
            <string>Backgrounds-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
