<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button-short.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,424},{420,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,76}}</string>
                <key>sourceSize</key>
                <string>{420,76}</string>
            </dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{420,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,152}}</string>
                <key>sourceSize</key>
                <string>{420,152}</string>
            </dict>
            <key>buttonPressed-short.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,424},{420,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,76}}</string>
                <key>sourceSize</key>
                <string>{420,76}</string>
            </dict>
            <key>buttonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{420,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,152}}</string>
                <key>sourceSize</key>
                <string>{420,152}</string>
            </dict>
            <key>dot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,964},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,42},{44,44}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>dot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{36,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,25},{36,78}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>dot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,964},{58,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,25},{58,78}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>dot4.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,964},{58,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,25},{58,78}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>dot5.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,964},{58,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,25},{58,78}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>dot6.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,964},{58,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{58,104}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>dot7.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,964},{58,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{58,104}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>dot8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{58,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{58,104}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>dot9.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,846},{80,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{80,104}}</string>
                <key>sourceSize</key>
                <string>{94,128}</string>
            </dict>
            <key>gain.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,964},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>home.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,952},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>noise.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,82},{636,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,20}}</string>
                <key>sourceSize</key>
                <string>{636,20}</string>
            </dict>
            <key>progressBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,82},{640,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,28}}</string>
                <key>sourceSize</key>
                <string>{640,28}</string>
            </dict>
            <key>scoreLabelBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,506},{420,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,64}}</string>
                <key>sourceSize</key>
                <string>{420,64}</string>
            </dict>
            <key>tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,424},{80,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,120}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Make10Sprites-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0feb325faa604cb7f9cf7476ff8dbb1$</string>
            <key>textureFileName</key>
            <string>Make10Sprites-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
