<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1302},{46,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{46,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>boyReady.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{640,778}}</string>
                <key>offset</key>
                <string>{0,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,182},{640,778}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>button-short.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1472},{320,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,76}}</string>
                <key>sourceSize</key>
                <string>{320,76}</string>
            </dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,392},{388,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,152}}</string>
                <key>sourceSize</key>
                <string>{388,152}</string>
            </dict>
            <key>buttonPressed-short.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1472},{320,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,76}}</string>
                <key>sourceSize</key>
                <string>{320,76}</string>
            </dict>
            <key>buttonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{388,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,152}}</string>
                <key>sourceSize</key>
                <string>{388,152}</string>
            </dict>
            <key>dot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1794},{80,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,120}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>dot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1356},{80,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,120}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>dot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1350},{80,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,120}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>dot4.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1274},{80,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,120}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>dot5.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1192},{80,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,120}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>dot6.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1110},{80,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,120}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>dot7.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1028},{80,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,120}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>dot8.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,946},{80,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,120}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>dot9.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,864},{80,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,120}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>gain.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,1286},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>girlReady.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,822}}</string>
                <key>offset</key>
                <string>{0,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,138},{640,822}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>home.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1238},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,644},{640,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,20}}</string>
                <key>sourceSize</key>
                <string>{640,20}</string>
            </dict>
            <key>progressBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,2},{640,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,28}}</string>
                <key>sourceSize</key>
                <string>{640,28}</string>
            </dict>
            <key>scoreLabelBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,782},{388,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,64}}</string>
                <key>sourceSize</key>
                <string>{388,64}</string>
            </dict>
            <key>sprocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1172},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,782},{80,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,120}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Make10Sprites-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef1fbf417a1027d67c137ffda5c65bd8$</string>
            <key>textureFileName</key>
            <string>Make10Sprites-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
